<div class="page content-provider" id="page">    
    <!-- wrap -->
   	<header id="header">
   	</header>
    
    <!-- about content -->
    <div class="container main ">
    	
    	<!-- selection -->
        <div class="row">
            <div class="col-md-12 jumbotron-small map">
                <span class="hue green">
                    <div class="pads">
                        <h1>EUscreen Content Provider</h1>
                    </div>
                </span>
            </div>
        </div>

        <!-- selection -->
        <div class="content-text row blue">
            <div class="col-md-12">
                <h1>EUscreen Content Providers</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                </p>
                <p>
                    <a class="box-link" href="mailto:info@euscreen.eu">Contact us for further inquiry</a>
                </p>
            </div>
        </div>

        <!-- -->
        <div class="provider-list row">
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                	<span class="wrap bg">
                		<img src="/eddie/apps/euscreenxlelements/img/content/provider/bg.png" class="img-responsive" align="Beeld en Geluid"/>
                	</span>
                	<span class="info">
                		<h2>BEELD EN GELUID</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                	<span class="wrap dw">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/dw.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>DEUTSCHE WELLE</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap cinne">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/cinne.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>CINECITTA LUCE</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap ceska">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/ceska.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>CESKA TELEVIZE</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                	<span class="wrap orf">
                		<img src="/eddie/apps/euscreenxlelements/img/content/provider/orf.png" class="img-responsive" align="Beeld en Geluid"/>
                	</span>
                	<span class="info">
                		<h2>ORF</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                	<span class="wrap rte">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/rte.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>RTE</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap nina">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/nina.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>NATIONAL AUDIOVISUAL INSTITUTE</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap rtbf">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/rtbf.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>RTBF</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap dr">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/dr.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>DR</h2>
                	</span>
            	</a>
            </div>
            <div class="provider col-lg-3 col-md-4 col-sm-4">
            	<a href="#" target="_blank">
                    <span class="wrap lcsa">
                    	<img src="/eddie/apps/euscreenxlelements/img/content/provider/lcsa.png" class="img-responsive" align="Deutsche Welle"/>
                	</span>
                	<span class="info">
                		<h2>LCVA</h2>
                	</span>
            	</a>
            </div>
        </div>
    </div>
    
    
    <!-- footer -->
    <footer id="footer">
    </footer>
</div>

<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>